.accordion-button:not(.collapsed)::after {
    background-image: url('/icons8-plus\ \(1\).svg');
}
.accordion-button::after {
    background-image: url('/icons8-plus\ \(1\).svg');
    transform: rotateX('45');
}